/*****************TAG SELECTORS*****************/
body {
    background-color: #F8F0DF;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-top-color: #9D9D9D;
    border-top-width: 7px;
    width: 3%;
}

h1 {
  color: #B91646;
}

h3 {
  color: #105652;
}

/***************CLASS SELECTORS**************/
.workplace{
  color: #B91646;
}

/***************ID SELECTORS**************/
#heading {
  color: red;
}
